.App {
  font-family: sans-serif;
  text-align: center;
}
#root {
  max-width: 70%;
  margin: auto;
}
.row {
  border-bottom: 1px solid;
}
img {
  width: 100px;
  border-radius: 50%;
}
.container {
  padding: 10px;
  display: flex;
}
a {
  cursor: pointer;
  text-decoration: underline;
  padding: 10px;
}
.votes {
  display: flex;
}
.vote-btn {
  font-weight: 500;
}
.col-xs-12 {
  width: 100%;
}
